@import "../../styles/variables";

.slideshow {
  position: relative;

  .left-arrow {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 23px;
  }

  .right-arrow {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 23px;
  }

  .pictures {
    img {
      width: 100%;
      height: 415px;
      object-fit: cover;
      border-radius: 25px;
    }
  }

  .bullet-point {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    color: $white;
  }
}

@media screen and (max-width: $phone-max-size) {
  .slideshow {
    .left-arrow {
      padding-left: 6px;
    }

    .right-arrow {
      padding-right: 6px;
    }

    .bullet-point {
      display: none;
    }

    #image {
      width: 12px;
      height: 20px;
    }

    .pictures {
      height: 255px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (min-width: $phone-max-size) and (max-width: $tablet-max-size) {
  .slideshow {
    .left-arrow {
      padding-left: 6px;
    }

    .right-arrow {
      padding-right: 6px;
    }

    #image {
      width: 12px;
      height: 20px;
    }

    .pictures {
      height: 255px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}