@import "variables";

.about-page {
  .about-accordions {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 30px;
    margin-right: 109px;
    margin-left: 108px;
  }
}

@media screen and (max-width: $phone-max-size) {
  .about-page {
    .about-accordions {
      margin: 0px;
      gap: 20px;
    }
  }
}

@media screen and (min-width: $phone-max-size) and (max-width: $tablet-max-size) {
  .about-page {
    .about-accordions {
      margin-right: 50px;
      margin-left: 50px;
    }
  }
}