@import "variables";


#error {
  display: flex;
  flex-direction: column;
  align-items: center;

  .number, .content, .link {
    color: $primary;
  }

  .number {
    font-size: 288px;
    font-weight: 700;
    line-height: 100%;
  }

  .content {
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    margin-top: 66px;
    margin-bottom: 182px;
  }

  .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 159px;
  }
}
