@import "variables";


.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 169px;

  .number, .content, .link {
    color: $primary;
  }

  .number {
    font-size: 288px;
    font-weight: 700;
    line-height: 100%;
  }

  .content {
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    margin-top: 66px;
    margin-bottom: 182px;
  }

  .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 159px;
  }
}

@media screen and (max-width: $phone-max-size) {
  .error-page {
    margin-top: 195px;

    .number {
      font-size: 96px;
      line-height: 137px;
    }

    .content {
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      margin-top: 11px;
      margin-bottom: 0px;
    }

    .link {
      font-size: 14px;
      line-height: 20px;
      margin-top: 133px;
      margin-bottom: 0px;
    }
  }
}

