@import "variables";

body {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  #root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 63px;
    line-height: 34px;

    .page {
      padding-right: 100px;
      padding-left: 100px;
      padding-top: 40px;
    }
  }
}

@media screen and (max-width: $phone-size) {
  body {
    #root {
      gap: 0px;

      .page {
        padding: 20px 20px 20px 20px;
      }
    }
  }
}