@import "src/styles/variables";

.accordion {
  user-select: none;
  margin-right: 109px;
  margin-left: 108px;
  color: $white;
  display: flex;
  flex-direction: column;
  margin-top: 33px;

  &.accordion-close {
    .header {
      .arrow {
        transition: all 0.35s;
        transform: rotate(0deg);
      }
    }
  }

  &.accordion-open {
    .header {
      padding-right: 33px;

      .arrow {
        transition: all 0.35s;
        transform: rotate(180deg);
      }
    }

    .content {
      opacity: 1;
      max-height: inherit;
      padding-top: 27px;
      padding-bottom: 19px;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: $primary;
    border-radius: 5px;
    height: 47px;
    padding-left: 18.08px;
    padding-right: 33px;

    .title {
      font-weight: 500;
      font-size: 24px;
      Line-height: 34.22px;
    }
  }

  .content {
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: all 0.35s;
    background-color: $light-grey;
    border-radius: 5px;
    padding-left: 19px;
    padding-right: 33px;

    span {
      color: $primary;
      font-weight: 400;
      font-size: 24px;
      line-height: 34.22px;
    }
  }
}