@import "src/styles/variables";

#banner-section {
  position: relative;
  height: 223px;


  div {
    width: 100%;
    height: 100%;

    > #image-texte {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: $white;
        font-weight: 500;
        font-size: 48px;
      }
    }

    > #image-container {
      position: relative;

      * {
        width: 100%;
        height: 100%;
        border-radius: 25px;
      }

      #image {
        object-fit: cover;
      }

      #mask {
        position: absolute;
        background: $black;
        mix-blend-mode: darken;
        opacity: 0.3;
        top: 0;
      }
    }
  }
}